<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Invaiz_Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Invaiz_Studio.Properties.Settings>
            <setting name="WIN_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="PS_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="AI_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="AE_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="PR_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="LR_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="CS_PRESET" serializeAs="String">
                <value />
            </setting>
            <setting name="OL_CHECK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OL_LOCATION" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="OL_SECOND" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OL_SHOW" serializeAs="String">
                <value>False</value>
            </setting>
        </Invaiz_Studio.Properties.Settings>
    </userSettings>
</configuration>